@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1743427205133') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-tongzhi1:before {
  content: "\e676";
}

.icon-tongzhi:before {
  content: "\e677";
}

